html{
	min-width: 1220px;
}
.bgimg{
	background: url(../img/banner1_bgimg.jpg) repeat-x 100%;
	height: 40px;
}
.mgmid{
	margin: auto;
	height: 40px;
}
footer{
	height: 320px;
	background-color: black;
	margin-top: 58px;
}
footer .fuwu{
	height: 70px;
	border-bottom: solid #444444 1px;
	padding-top: 18px;
}
footer .mian{
	background: url(../img/mian.png) no-repeat;
}
footer .zhen{
	background: url(../img/zhen.png) no-repeat;
}
footer .qi{
	background: url(../img/7.png) no-repeat;
}
footer .shun{
	background: url(../img/shun.png) no-repeat;
}
.fuwu p{
	padding-left: 30px;
	line-height: 30px;
	font-weight: bolder;
	color: white;
}
.fuwu p>strong{
	color: red;
}
.btm{
	width: 20%;
	font-size: 12px;
	margin-top: 28px;
	float: left;
}
.btm>ul>li:first-child{
	font-weight: bolder;
}
.btm li{
	margin-top: 8px;
	margin-bottom: 8px;
}
.btm a{
	color: white !important;
}
.search-login{
	background: url(../img/edg_logo.png) no-repeat center left;
	height: 148px;
	padding: 56px 0px;
	background-position-y: 36px;
}
.search-login>img{
	margin-left: 138px;
	display: inline-block;
	vertical-align:top;
}

.search-input input{
	border-radius: 17px !important;
}
.dropdown-btn{
	border-left: 0px;
	border-right: 0px;
}
.flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  background: transparent;
  margin: 0;
}

.flexsearch--form {
  position: relative;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 16px;
  height: 36px;
  border-color: #AAA;
  border-radius: 17px;
  border-style: solid;
  border-width: 1.8px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}
.flexsearch--submit span{
	margin-top: 5px;font-size: 16px;
	margin-left: 8px;
}
.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 46px;
  height: 36px;
  padding: 0;
  border: none;
  background: transparent;
  color: #888;
  outline:none;
}
.flexsearch--drop{
  position: absolute;
  right: 36px;
  top: 5px;
  display: block;
  width: 86px;
  height: 26px;
  padding: 0;
  background: transparent;
  color: #888;
   outline:none;
   border-left: 1px solid darkgrey;
   border-right: 1px solid darkgrey;
   border-top: none;
   border-bottom: none;
}
.flexsearch--input:focus {
  outline: none;
  border-color: #111;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #111;
}

.flexsearch--submit:hover {
  color: #111;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder {
  color: #888;
}

.clearfix>li{
	width: 12.5% !important;
}
.clearfix>li{
	padding: 0px 3px;
}
.clearfix>li:first-child{
	padding-right: 0px;
}
.clearfix>li:last-child{
	padding-right: 0px;
}
#newest{
	margin-top: 68px;
}

#newest>.row:first-child{
	margin-bottom: 30px;
}
.new1{
	margin-left: -3px;
	margin-right: -3px;
}
.new1 .pull-left{
	padding:3px;
}
.new1>.prodimg{
	height: 266px;
	width: 16.666%;
}
.new1>.prodimg2{
	height: 300px;
	width: 33.333%;
	height: 266px;
}
.new1>.prodimg3{
	height: 500px;
	width: 25%;
}
.new1>.prodimg1{
	height: 300px;
	width: 16.666%;
	height: 500px;
}
.new1 img{
	width: 100%;
	height: 100%;
}
.img_1{
	display: block;
	height: 50%;
}
.prodimg1 .img_1:first-child{
	padding-bottom: 3px;
}
.prodimg1 .img_1:last-child{
	padding-top: 3px;
}
.btmimg{
	padding-left: 3px;
	padding-right: 3px;
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 200px;
    display: none;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    background: white;
}
#person-center{
	position: relative;
	margin-top: 28px;;
}
#person-center .left-menu{
	width: 218px;
	min-height: 600px;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 904;
    border: 1px solid #CFCFCF;
}
.top-bar{
	height: 56px;
	line-height: 56px;
	font-size: 16px;
	font-weight: bold;
	border-left: 3px solid red;
	background-color: #000000;
	color: white;
}
.top-bar span{
	font-size: 12px;;
}
#person-center .right-content{
    margin-left: 220px;
    padding: 0;
    min-height: 760px;
    position: relative;
    border: 1px solid #CFCFCF;
}
#person-center  a{
	text-decoration: none;
	color: black;
}
.header-img{
	padding: 36px;
	padding-bottom: 6px;
	border-bottom: 1px solid #CFCFCF;
}
.header-img>img{
	width: 144px;
    height: 118px;
}
.dingdan ul{
	border-bottom: 1px solid #CFCFCF;
}
.comment-style{
	padding: 18px 0px !important;
	margin-bottom: 0px;
}
.comment-style>li:first-child{
	font-size:16px ;
	color: #888888;
	font-weight: bold;
	padding: 6px 18px;
}
.comment-style>li:not(:first-child){
	color: black;
	padding: 6px 18px;
	cursor: pointer;
}
.comment-style>li.current{
	background-color: red;
}
.current>a{
	color: white !important;
}
.dingdan .badge{
	background-color: red;
}
.current .badge{
	background-color: white;
	color: red;
}
.main-content{
	padding: 10px;
	padding-bottom: 0;

}
/*order*/
.head-div>div{
	background-color: #f0f0f0;
    height: 130px;
    border-right: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
	font-size: 14px;
	height: 48px;
	line-height: 48px;
}
.body-div img{
	height: 128px;
	display: inline-block;
	float: left;
}
/*order*/
.body-div .repeat:not(:first-child){
	/*margin-top: 18px;*/
    margin-bottom: 18px;
}

.repeat{
	display: flex;
	width: 100%;
}
.repeat>div{
	display: inline-block;
}
/*order*/
.order .repeat .detail{
	width: 53%;
	border: 1px solid #CFCFCF;
}
.finish,.pay-method{color: #999;}
.ing{color: #1d63bb;}
.pay{color: #de2121;}
.btn-finish{background: #000;color: #fff;}
.btn-finish:hover{color: #f3f3f3;}
.btn-ing{background: #de2121;color: #fff;}
.btn-ing:hover{color: #f3f3f3;}
.btn-pay{background: #999;color: #f3f3f3;}
.detail div{
	/*padding: 8px;*/
}
.detail p{
	font-weight: bold;
}
.repeat .text-center{
	vertical-align: auto;
}
.repeat p{
	height: 34px;
	line-height: 34px;
	position: relative;
	top:50%;
	margin-top: -17px;
}
.repeat button{
	position: relative;
	top:50%;
	margin-top: -17px;
}
/*order*/
.order .repeat .time{
	width: 12%;
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	height: 130px;
}
.order .repeat .count{
    width: 10%;
    border-right: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    height: 130px;
}
.order .repeat .status{
    width: 12%;
    border-left: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    height: 130px;
}
.order .repeat .im-discuss{
	width: 13%;
	border: 1px solid #CFCFCF;
	height: 130px;
}
.im-discuss .text-upper{top:39%;}
.detail .pull-left{padding:1.5em 0 0 .5em;width: 58%;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.order .text-left{padding-left: 1em;}

.foot-page{
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}
.foot-page .pagination>.active>a{
	background-color: red;
	border-color: red;
}
.foot-page input{
	width: 46px;
	display: inline-block;
	margin: 0px 3px;
	
}
.star_bg {
	display: inline-block;
    width: 120px; height: 20px;
    background: url(../img/star.png) repeat-x;
    position: relative;
    overflow: hidden;
    padding-left: 30px;
}
.star {
    height: 100%; width: 24px;
    line-height: 6em;
    position: absolute;
    z-index: 3;
}
.star:hover {    
    background: url(../img/star.png) repeat-x 0 -20px!important;
    left: 0; z-index: 2;
}
.star_1 { left: 0; }
.star_2 { left: 24px; }
.star_3 { left: 48px; }
.star_4 { left: 72px; }
.star_5 { left: 96px; }
.star_1:hover { width: 24px; }
.star_2:hover { width: 48px; }
.star_3:hover { width: 72px; }
.star_4:hover { width: 96px; }
.star_5:hover { width: 120px; }

label { 
    display: block; _display:inline;
    height: 100%; width: 100%;
    cursor: pointer;
}

/* 幕后的英雄，单选按钮 */
.score { position: absolute; clip: rect(0 0 0 0); }
.score:checked + .star {    
    background: url(../img/star.png) repeat-x 0 -20px;
    left: 0; z-index: 1;
}
.score_1:checked ~ .star_1 { width: 24px; }
.score_2:checked ~ .star_2 { width: 48px; }
.score_3:checked ~ .star_3 { width: 72px; }
.score_4:checked ~ .star_4 { width: 96px; }
.score_5:checked ~ .star_5 { width: 120px; }

.star_bg:hover .star {  background-image: none; }

/* for IE6-IE8 JS 交互 */
.star_checked {    
    background: url(../img/star.png) repeat-x 0 -20px;
    left: 0; z-index: 1;
}
.comment{
	border: 1px solid #CFCFCF;
	width: 100%;
	border-top: 0;
	padding: 10px;;
}
.comment .pingfen{
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
.comment-text {
	position:relative;
	padding: 10px;
}
.comment-text textarea{
	width: 100%;
	height: 248px;
}
.comment-text .wordwrap{ position:absolute; right: 16px; bottom: 16px;}
.comment-text .word{ color: red; padding: 0 4px;}
#pub-comment{
	height: 34px;
	padding-right: 10px;
}
.btn-black{
	color: white;
    background-color: black;
    border-color: gray;
}
.btn-black.focus, .btn-black:focus, .btn-black:hover {
    color: white;
    text-decoration: none;
}

.receiptP{width: 16.666666667%;border: 1px solid #CFCFCF;height: 130px;}
.receiptAdd{width: 33.333333333%;border-top: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;height: 130px;}
.receiptAdd .center-block{line-height: 20px;padding:0 1em;}
.receiptOperate{width: 33.333333333%;border: 1px solid #CFCFCF;height: 130px;}
.default{width: 30%;}
.span-center{position: relative;text-align: center;vertical-align: middle;top: 35%;margin-top:0px;margin-right: .6em;}
.receipt{width: 50%;font-size: 1.2em;font-weight: bold;padding:.8em 1em .6em;}
.addReceipt{width: 50%;font-size: 1.2em;font-weight: bold;padding:.8em 1em .6em;text-align: right;background: url(../img/addAddress.png) no-repeat;background-position: 70% 55%;cursor: pointer;}
#addReceipt{height: 400px;border: 1px solid #CFCFCF;margin:50px 0 10px;}
.form-address{width: 52%;margin:20px  35% 0 0;}
.for-form{width: 13%;height: 34px;line-height: 34px;text-align: center;margin:20px 0 0;}
.btn-add{width: 15%;position: absolute;top: 47%;left: 30%;background: #d9534f;color: #fff;}
.btn-cancel{width: 15%;position: absolute;top: 47%;left: 48%;color: #999;background:none;border: 1px #999 solid;}

.couponName{width: 16.666666667%;border: 1px solid #CFCFCF;height: 70px;}
.couponNum{width: 33.333333333%;border-top: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;height: 70px;}
.couponDate{width: 16.666666667%;border: 1px solid #CFCFCF;height: 70px;}
.couponStatu{width: 33.333333333%;border: 1px solid #CFCFCF;height: 70px;}

td{height: 130px;overflow: hidden;}
.product-pic{width: 21%;border-right: none;}
.product-pic img{width: 100%;}
.product-name{width: 32%;padding:0 1em;border-left:none;}
.product-count{width: 10%;text-align: center;}
.product-value{width: 12%;text-align: center;}
.product-statu{width: 12%;text-align: center;}
.product-choose{width: 13%;text-align: center;}
.myList{border-collapse: collapse;height:130px;overflow:hidden;border:solid #cfcfcf;border-width:1px;margin-bottom: 1.5em;}
/*.Address{display: none;}*/